<a href="https://colab.research.google.com/github/albreyes/PE-A-11/blob/master/DemoClasificadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
import pandas as pd

data=pd.read_csv('gdrive/My Drive/Colab Notebooks/datasets/datasets_228_482_diabetes.csv')
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
X_all=data.drop(['Outcome'], axis=1)
y_all=data['Outcome']

In [6]:
X_all.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [7]:
y_all

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

num_test = 0.20 # aquí se está especificando 20% para test
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [9]:
X_train

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
303            5      115             98  ...  52.9                     0.209   28
750            4      136             70  ...  31.2                     1.182   22
289            5      108             72  ...  36.1                     0.263   33
709            2       93             64  ...  38.0                     0.674   23
3              1       89             66  ...  28.1                     0.167   21
..           ...      ...            ...  ...   ...                       ...  ...
250            9      106             52  ...  31.2                     0.380   42
264            4      123             62  ...  32.0                     0.226   35
216            5      109             62  ...  35.8                     0.514   25
675            6      195             70  ...  30.9                     0.328   31
659            3       80             82  ...  34.2                     1.292   27

[614 rows x 8 columns]

In [10]:
# Seleccionamos el tipo de clasificador, en este caso RandomForest. 
from sklearn.ensemble import RandomForestClassifier
#clf = RandomForestClassifier(n_estimators=10)
clf = RandomForestClassifier(max_depth=2, random_state=0)
# entrenamiento
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [12]:
from sklearn.metrics import make_scorer, accuracy_score, f1_score
predictions = clf.predict(X_test)
# se imprime el accuracy
print("Accuracy: ", accuracy_score(y_test, predictions))
#Imprimimos la f-score
print("F1-Score: ", f1_score(y_test, predictions))

# Mean accuracy
clf.score(X_test, y_test, sample_weight=None)

Accuracy:  0.7142857142857143
F1-Score:  0.3529411764705882

0.7142857142857143

In [13]:
clf.decision_path(X_test)

(<154x700 sparse matrix of type '<class 'numpy.longlong'>'
 	with 46200 stored elements in Compressed Sparse Row format>,
 array([  0,   7,  14,  21,  28,  35,  42,  49,  56,  63,  70,  77,  84,
         91,  98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175,
        182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266,
        273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357,
        364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448,
        455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539,
        546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630,
        637, 644, 651, 658, 665, 672, 679, 686, 693, 700]))

In [14]:
# Ejemplo extraido del conjunto de prueba
X_test[:4]

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
118            4       97             60  ...  28.2                     0.443   22
592            3      132             80  ...  34.4                     0.402   44
466            0       74             52  ...  27.8                     0.269   22
348            3       99             62  ...  21.8                     0.279   26

[4 rows x 8 columns]

In [15]:
y_test[:4]

118    0
592    1
466    0
348    0
Name: Outcome, dtype: int64

In [16]:
# Predic class for X
print(clf.predict([[6, 109, 60, 27, 0, 25.0,0.206,27]]))
print(clf.predict([[13, 158, 114, 0, 0, 42.3,0.257,44]]))
print(clf.predict([[7, 150, 66, 42, 342, 34.7,0.718,42]]))
print(clf.predict([[6, 123, 72, 45, 230, 33.6,0.733,34]]))

[0]
[1]
[1]
[0]