In [84]:
import pandas as pd

dataPath='C:/Users/areyes/Dropbox/ineel/cemie redes/PE-A-11/datasets/bajioCentralGRT-central/'
data=pd.read_csv(dataPath+'LINEASBASE-arb-redCausal.csv')

In [85]:
data.head()

,NAME,AB,ST,EHG,AP,CHCH,BC,CIM,PCI,DES,...,COND,CECN,SEP,CE,BRE,ACC,COM,NOMS,T,LT
0,1,S5,S5,S5,S5,S5,S5,S4,S5,S5,...,S5,S5,S5,S5,S4,S5,S1,S1,0.934,93020
1,2,S5,S5,S5,S5,S5,S5,S4,S5,S5,...,S5,S5,S5,S5,S4,S5,S1,S1,0.934,93020
2,3,S5,S5,S5,S5,S5,S5,S4,S5,S5,...,S5,S5,S5,S5,S4,S5,S1,S1,0.934,93020
3,4,S5,S5,S5,S5,S5,S5,S4,S5,S5,...,S5,S5,S5,S5,S4,S5,S1,S1,0.934,93020
4,5,S5,S5,S5,S5,S5,S5,S4,S5,S5,...,S5,S5,S5,S5,S4,S5,S1,S1,0.934,93020

In [86]:
X_all = data.drop(['NAME', 'T'], axis=1)

#Dejamos solo la clase T
y_all = data['T']

In [87]:
y_all.head()

0    0.934
1    0.934
2    0.934
3    0.934
4    0.934
Name: T, dtype: float64

In [104]:
from sklearn.model_selection import train_test_split

num_test = 0.20 # aquí se está especificando 20% para test
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [105]:
X_train

,AB,ST,EHG,AP,CHCH,BC,CIM,PCI,DES,EST,...,CAMG,COND,CECN,SEP,CE,BRE,ACC,COM,NOMS,LT
35,S5,S5,S5,S5,S5,S5,S4,S5,S5,S4,...,S5,S5,S5,S5,S5,S4,S5,S1,S1,93020
90,S5,S5,S5,S5,S5,S5,S5,S5,S5,S5,...,S5,S5,S5,S5,S5,S4,S5,S0,S3,A3L60
406,S5,S5,S5,S5,S5,S5,S4,S5,S5,S4,...,S5,S5,S5,S5,S5,S4,S3,S1,S1,93100
516,S5,S5,S5,S5,S5,S5,S4,S5,S5,S5,...,S5,S5,S5,S5,S5,S5,S5,S0,S1,93100
360,S3,S5,S5,S5,S5,S5,S4,S5,S5,S4,...,S5,S5,S5,S5,S5,S4,S3,S1,S1,93100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,S5,S2,S5,S5,S5,S5,S5,S5,S5,S5,...,S5,S5,S5,S5,S5,S4,S5,S0,S3,A3L60
513,S5,S5,S5,S5,S5,S5,S4,S5,S5,S4,...,S5,S5,S5,S5,S5,S4,S3,S0,S1,93100
451,S5,S5,S5,S5,S5,S5,S4,S5,S5,S4,...,S5,S5,S5,S5,S5,S4,S3,S0,S1,93100
304,S5,S5,S5,S5,S5,S5,S4,S5,S5,S4,...,S5,S5,S5,S5,S5,S4,S5,S1,S3,93610
375,S3,S5,S5,S5,S5,S5,S4,S5,S5,S4,...,S5,S5,S5,S5,S5,S4,S3,S1,S1,93100

In [106]:
y_train

35     0.934
90     0.984
406    0.936
516    0.958
360    0.896
       ...
71     0.924
513    0.926
451    0.926
304    0.954
375    0.896
Name: T, Length: 414, dtype: float64

In [107]:
X_train.to_csv(dataPath+'LINEASBASE-arb-redCausalEntrena80-5.csv')
X_test.to_csv(dataPath+'LINEASBASE-arb-redCausalPrueba80-5.csv')

In [38]:
data1=pd.read_csv(dataPath+'LINEASBASE-karla.csv')

In [39]:
data1.head()

,NAME,AB,ST,EHG,AP,CHCH,BC,CIM,PCI,DES,...,COND,CECN,SEP,CE,BRE,ACC,COM,NOMS,T,LT
0,1,10,10,10,10,10,10,8,10,10,...,10,10,10,10,8,10,10,4,0.934,93020
1,2,10,10,10,10,10,10,8,10,10,...,10,10,10,10,8,10,10,4,0.934,93020
2,3,10,10,10,10,10,10,8,10,10,...,10,10,10,10,8,10,10,4,0.934,93020
3,4,10,10,10,10,10,10,8,10,10,...,10,10,10,10,8,10,10,4,0.934,93020
4,5,10,10,10,10,10,10,8,10,10,...,10,10,10,10,8,10,10,4,0.934,93020

In [40]:
X_all = data1.drop(['NAME','T','LT'], axis=1)

#Borramos las columnas Survived 
y_all = data1['T']

In [41]:
X_all.head()

,AB,ST,EHG,AP,CHCH,BC,CIM,PCI,DES,EST,...,CHH,CAMG,COND,CECN,SEP,CE,BRE,ACC,COM,NOMS
0,10,10,10,10,10,10,8,10,10,8,...,8,10,10,10,10,10,8,10,10,4
1,10,10,10,10,10,10,8,10,10,8,...,8,10,10,10,10,10,8,10,10,4
2,10,10,10,10,10,10,8,10,10,8,...,8,10,10,10,10,10,8,10,10,4
3,10,10,10,10,10,10,8,10,10,8,...,8,10,10,10,10,10,8,10,10,4
4,10,10,10,10,10,10,8,10,10,8,...,8,10,10,10,10,10,8,10,10,4

In [42]:
y_all.head()

0    0.934
1    0.934
2    0.934
3    0.934
4    0.934
Name: T, dtype: float64

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=20)

In [44]:
# Seleccionamos el tipo de clasificador, en este caso RandomForest. 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)
# entrenamiento
clf.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'

In [45]:
y_all=y_all*100

In [46]:
y_all

0      93.4
1      93.4
2      93.4
3      93.4
4      93.4
       ...
513    92.6
514    92.6
515    92.6
516    95.8
517    95.8
Name: T, Length: 518, dtype: float64

In [48]:
y_all=y_all.astype(int)

In [49]:
y_all

0      93
1      93
2      93
3      93
4      93
       ..
513    92
514    92
515    92
516    95
517    95
Name: T, Length: 518, dtype: int32

In [50]:
# Seleccionamos el tipo de clasificador, en este caso RandomForest. 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)
# entrenamiento
clf.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'